.DivParallax {
    min-height: 90vh; /* "será que tem mais para ver no site? Menu!"*/

    background-size: cover;
    background-attachment: fixed;
    background-position: left top;

    box-shadow: inset 1px 0px 80px 14px #00000066;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: clamp(25px, 4vw, 70px); // 40px

    h4 {
        font-weight: bolder;
    }
}

