.DivParallax {
    min-height: 100vh; /* "será que tem mais para ver no site? Menu!"*/

    background-image: url("/Imagens/Biels/BielaA1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;

    box-shadow: inset 1px 0px 11px 0px #00000036;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: clamp(25px, 4vw, 70px); // 40px

    p {
        font-weight: bolder;
    }
}