.DivParallax {
    min-height: 90vh;
    /* "será que tem mais para ver no site? Menu!"*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;

    box-shadow: inset 0px 0px 54px -9px #00000066;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    font-size: clamp(25px, 4vw, 70px); // 40px

    h4 {
        font-weight: bolder;
        padding: 0px 5vw;
        font-size: calc(max(9vw, 9vh));
        margin: 1vw;
    }
}