section#artista {
    flex-direction: column;
    flex-wrap: wrap;

    line-height: 2em;

    div#TrabalhosRealizados {
        background-image: url(/images/Biels/BielAperto.jpg);
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.322);

        @supports (-webkit-touch-callout: none) {
            background-attachment: scroll;
            background-position: top center;
        }

        @supports not (-webkit-touch-callout: none) {
            background-attachment: fixed;
        }

        background-size: cover;
        box-shadow: inset 0px 0px 54px -9px #00000066;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
    }


    ul#TransparentBlack {
        height: 100%;
        width: 100%;
        padding: 20px;
        margin: 0;

        display: flex;
        min-height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: baseline;
        gap: 10px;

        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);

        h4,
        p {
            margin: 1vh 0px;
            font-size: calc(max(1.5vh, 0.9vw));
            line-height: 2.5vh;
        }

        h4 {
            font-size: 2.6vh;
        }

        li {
            // display: block;

            width: 40vh;

            .ImageContainer>img {
                width: calc(min(10vh, 20vw));
            }
        }
    }

    #TrabalhosRecentes {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;

        margin: 0;

        > li:nth-child(n+2) {
            display: contents;
        }

        .TrabRecentItem {
            width: calc(min(90vw, 70vh));
        }

        .Description {
            font-size: calc(max(1.3vh, 1.4vw));
            line-height: calc(max(1.4vh, 1.5vw));
        }

    }
}