section#sobre {
    flex-direction: row;

    font-size: 1.3vw;

    margin: 20px;
    line-height: 1.5em;
    padding: 1vh;

    .escola-oficina {
        text-decoration: underline wavy #3c5899 1px !important;
        color: #3c5899;
    }

    article {
        width: 60%;
    }

    aside {
        width: 40%;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(http://localhost:3000/_next/static/media/Bielolhar.2a541cd7.jpg);
    }

    div {
        margin: 10px;
        padding: 20px;
    }
}