.ContatosS {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(30px, 4vw, 100px);
    align-content: center;
    align-items: center;
    justify-content: space-evenly;

    font-style: normal;

    li {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        p {
            font-size: calc(max(1.5vh, 0.9vw));

        }

        div {
            width: calc(max(5vw, 7vh));
        }
    }

    a {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        text-decoration: none;
        font-weight: bolder;
    }
}

.InstagramS {
    background: linear-gradient(to right, #7242aa, #c92ca1, #de446c, #e36d43, #facb69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.EmailS {
    background: linear-gradient(to right, #4385f5, #c8221f, #eb4333, #fbbb06, #35a954);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.YoutubeS {
    color: #FE0000;
}

.WhatsappS {
    background: linear-gradient(to right, #5bce66, #2f9933);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}