@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@font-face {
    font-family: 'Sheep Sans';
    src: url('/fonts/sheep_sans/sheepsans.ttf') format('truetype');
}

$c1: #332D2D;
$c2: #453331;
$c3: #734E46;
$c4: #C28874;
$c5: #DDB49E;

body,
html {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html:not([data-scroll='0']) #navigation {
    box-shadow: 0px 1px 20px 0px #0000002e;
    background-color: white;
    position: absolute;

    a {
        color: black;

        &:hover {
            color: rgb(185, 185, 185);
        }
    }
}

h1,
h2,
h3 {
    font-family: 'ABeeZee';
    text-align: center;
    align-self: center;
}

h1,
h4 {
    color: white;
}

h2 {
    color: black;
}

h3 {
    color: #80613C;
}


p,
li,
a,
div {
    font-family: 'ABeeZee';
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main {
    display: flex;

    flex-direction: column;

    h2 {
        margin: 30px;
    }

    section {
        display: flex;

        &#sobre {
            flex-direction: row;

            margin: 20px;
            line-height: 1.5em;
            padding: 20px;

            .escola-oficina {
                text-decoration: underline wavy #3c5899 1px !important;
                color: #3c5899;
            }

            div {
                margin: 10px;
                padding: 20px;
            }
        }

        &#artista {
            flex-direction: column;
            flex-wrap: wrap;

            line-height: 2em;

            > article {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-content: center;
                flex-wrap: wrap;

            }


            div#tr {
                background-image: url(/images/Biels/BielAperto.jpeg);
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.322)0066;
                background-attachment: fixed;
                background-size: cover;
                box-shadow: inset 0px 0px 54px -9px #00000066;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 100%;
            }


            #TransparentBlack {
                height: 100%;
                padding: 20px;

                display: flex;
                min-height: auto;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-around;
                align-items: baseline;
                gap: 10px;

                text-align: center;
                color: white;
                background-color: rgba(0, 0, 0, 0.5);

                h4, p { margin: 20px 0px; }
                h4 { font-size: 20px;}

                div {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: center;
                    width: 300px;
                }
            }

        }

        &#diretores {
            display: grid;
            padding: 50px;
            grid-gap: 10px;

            grid-template:
                "FoguinhoDaRecordTV FernandoFerraz"
                "GabrielaRosales MônicaTeixeira"
                "Diretor4 Diretor4  ";
        }

        &#galeria {
            display: grid;

            padding: 50px;

            grid-gap: 10px;
            align-items: center;
            justify-content: center;
        }

        &#aparicoes {
            align-items: center;
            justify-content: center;
            padding: 40px;
            gap: 25px;
        }
    }
}

footer {
    margin: 45px;

    h2 {
        text-align: center;
    }

    address {
        text-align: center;
        visibility: hidden;
    }
}

/* inViewport */

[data-inviewport="slide-in"] {
    transition: 2s;
    filter: opacity(0);
}

[data-inviewport="slide-in"].is-inViewport {
    filter: opacity(100);
}

div#tr[data-inviewport="slide-p-in"] {
    p {
        transition: 3s;
        filter: opacity(0);
    }
}

div#tr[data-inviewport="slide-p-in"].is-inViewport {
    p {
        filter: opacity(100);
    }
}

[data-inviewport="scale-in"] {
    transition: 1.8s;
    transform: scale(0.3);
    filter: blur(5px);
}

[data-inviewport="scale-in"].is-inViewport {
    transform: scale(1);
    filter: blur(0px);
}

// transform: rotate(180deg);

@media only screen and (min-width: 865px) {
    section#galeria {
        grid-template:
            "BielRiste BielS2 BielSentado"
            "Bielcruzado Bielolhar BielRio";
    }

    ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;

        overflow-x: unset;
    }
}

@media only screen and (max-width: 865px) {
    section {
        &#aparicoes {
            grid-template: "gallery1 gallery2" "img1 img2";
        }

        &#galeria {
            grid-template:
                "BielS2 BielRiste BielSentado"
                "BielRio Bielcruzado Bielolhar  ";
        }

        &#sobre {
            flex-wrap: wrap;
        }

        &#artista div {
            grid-row: auto;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;

            overflow-x: auto;
            flex-wrap: nowrap;
            scroll-behavior: smooth;
        }
    }
}