@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@font-face {
    font-family: 'Sheep Sans';
    src: url('/fonts/sheep_sans/sheepsans.ttf') format('truetype');
}

$c1: #332D2D;
$c2: #453331;
$c3: #734E46;
$c4: #C28874;
$c5: #DDB49E;

body,
html {
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'ABeeZee';
    text-align: center;
    align-self: center;
}

h1, h4 {
    color: #FFE4C4;
}

h2 {
    color: black;
}

h3 {
    color: #80613C;
}


p,
li,
a,
div {
    font-family: 'ABeeZee';
}

main {
    display: flex;

    flex-direction: column;

    h2 {
        margin: 30px;
    }

    section {
        display: flex;

        &#sobre {
            flex-direction: row;

            margin: 20px;
            line-height: 1.5em;
            // flex-wrap: wrap;

            div {
                margin: 10px;
                padding: 20px;
            }
        }

        &#artista {
            gap: 30px;
            flex-direction: column;
            flex-wrap: wrap;

            line-height: 2em;

            div {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-content: center;
                flex-wrap: wrap;

                margin: 20px;
            }

            div#tr {
                @for $i from 1 to 7 {
                    p:nth-child(#{$i}) {
                        text-align: initial;
                        color: white;
                        background-color: lighten($c1, $i * 5%);
                        padding: 8px;
                        border-radius: 8px;

                        strong {
                            color: #acacac;
                        }
                    }
                }
            }
        }

        &#galeria {
            display: grid;

            padding: 50px;

            gap: 10px;
            align-items: center;
            justify-content: center;
        }

        &#aparicoes {
            align-items: center;
            justify-content: center;
            padding: 40px;
            gap: 25px;
        }
    }
}

footer {
    margin: 45px;

    h2 {
        text-align: center;
    }

    div#contatos {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(30px, 4vw, 100px);
        align-content: center;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            color: black;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }

    div#by {
        text-align: center;
        // margin-top: 80px;

        address {
            visibility: hidden;
        }
    }
}

/* inViewport */

[data-inviewport="slide-in"] {
    transition: 2s;
    filter: opacity(0);
}

[data-inviewport="slide-in"].is-inViewport {
    filter: opacity(100);
}

div#tr[data-inviewport="slide-p-in"] {
    p {
        transition: 3s;
        filter: opacity(0);
    }
}

div#tr[data-inviewport="slide-p-in"].is-inViewport {
    p {
        filter: opacity(100);
    }
}

[data-inviewport="scale-in"] {
    transition: 1.8s;
    transform: scale(0.3);
    filter: blur(5px);
}

[data-inviewport="scale-in"].is-inViewport {
    transform: scale(1);
    filter: blur(0px);
}

// transform: rotate(180deg);

@media only screen and (min-width: 865px) {
    section#galeria {
        grid-template:
            "BielLiz BielLiz  BielS2"
            "BielRiste  BielCulos BielSentado"
            "Bielcruzado Bielolhar  BielRio";
    }

    ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;

        overflow-x: unset;
    }
}

@media only screen and (max-width: 865px) {
    section {
        &#aparicoes {
            grid-template: "gallery1 gallery2" "img1 img2";
        }

        &#galeria {
            grid-template:
                "BielLiz BielLiz BielLiz"
                "BielS2 BielRiste BielSentado"
                "BielCulos BielCulos BielCulos"
                "Bielcruzado Bielcruzado Bielcruzado"
                "BielRio BielRio BielRio"
                "Bielolhar Bielolhar Bielolhar";
        }

        &#sobre {
            flex-wrap: wrap;
        }

        &#artista div {
            grid-row: auto;
        }

        ul {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;

            overflow-x: auto;
            flex-wrap: nowrap;
            scroll-behavior: smooth;
        }
    }
}